<%- include('includes/header') %>

  <link rel="stylesheet" href="/stylesheets/c-events.css">

</head>

<body>
  <%- include('includes/navbar') %>

  <div class="body">
    <!-- hamburg starts -->
    <div class="hamburg">
      <img src="/images/burger-menu-svgrepo-com.svg" alt="">
    </div>
    <!-- hamburg ends -->
    <!-- main menu starts here -->
    <div class="main-menu inactive">
      <div class="full" id="full">
        <div class="cross">
          <img src="/images/cross-svgrepo-com.svg" alt="">
        </div>
        <p><span class="heading">Account Settings</span></p>
        <div class="list orgp">
          <a href="/organizer/create-events">
            <p>Create events</p>
          </a>
          <a href="/organizer/conducted-events">
            <p>Conducted Events</p>
          </a>
        </div>
      </div>
    </div>
    <!-- main menu ends here -->
    <div class="new-new">
      <!-- conducted events starts here -->

      <div class="c-events">
        <div class="c-heading">
          <% if(no_event){%>
            No Conducted Events
            <%}else{%>
              Your Events
              <%}%>
        </div>
        <div class="c-event-box">
          <% for(events of c_events){ %>
            <%for(let eachEvent of events){%>
              <div class="event-cat-box">
                <img src="/images/events/jr-korpa-9XngoIpxcEo-unsplash.jpg" alt="event-img">
                <div class="event-cat-box-in">

                  <div class="event-cat-desc">
                    <h3>
                      <%=eachEvent.title%>
                    </h3>
                    <p>
                      <%=eachEvent.desc%>
                    </p>

                  </div>
                  <div class="event-cat-edit">
                    <span>Edit</span>
                    <% if (eachEvent.expired===true) { %>
                      <h4>Expired</h4>
                      <% } else { %>
                        <h4>
                          <%= eachEvent.start_day %>
                        </h4>
                        <% } %>
                  </div>
                </div>
              </div>
              <%} } %>

        </div>
      </div>
    </div>
    <!-- button_starts -------------------------------------------------------- -->
    
</body>

</html>