<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %> - Event IO</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/category.css">
</head>
<body>
        <div id="body" class="body">
        <header>
            <div class="logo">
                Event <span class="logo-2">IO</span>
            </div>
        </header>
        <main>
            <section class="category-header">
                <a href="/" class="back-button">Back to Home</a>
                <h1>People who specialize in <span style="color: #7848F4;"> <%= skill %></span></h1>
            </section>
            <section class="user-list">
                <% for(let user of user_info){ %>
                    <div class="user-card">
                        <div class="user-card-det">
                            <img src="/images/profile-icon.svg" alt="">
                            <h2><%= user.f_name %></h2>
                            
                        </div>
                        <p><span style="font-weight: bold;">Email: </span> <%= user.email %></p>
                        <p><span style="font-weight: bold;">Skills: </span><%= user.skills.join(' | ') %></p>
                    </div>
                <% } %>
            </section>
        </main>
    
        <%- include('includes/footer') %>
        </div>
        <%- include('includes/org-popup') %>

    </body>
</html>
