<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eventio</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Alatsi&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="stylesheets/eventmain.css">
    <!-- <link rel="stylesheet" href="stylesheets/style.css"> -->
	<link rel="stylesheet" href="stylesheets/navbar.css">

<!-- <%- include('includes/header') %> -->
<link rel="stylesheet" href="/stylesheets/eventmain.css" />
</head>

<body>
    <%- include('includes/navbar') %>


    <!-- hero starts here -->
    <section>
        <div class="hero">
            <div class="hero-img">
                <img src="./images/heroimgs/aleksandr-popov-vCbKwN2IXT4-unsplash.jpg" alt="img" />
            </div>
            <div class="hero-text">
                <h1>Empower your campus!</h1>
                <p>Unlock boundless opportunities for your talents and ambitions to thrive and manage your event
                    schedule with our dual-purpose platform.</p>
            </div>
        </div>
        <div class="hero-box-invi">
            <div class="hero-box">
                <div class="hero-box-event">
                    <h3>Looking for </h3>
                    <form action="">
                        <select name="event-type" id="event-type">
                            <option value="">Choose event type</option>
                            <option value=""></option>
                        </select>
                    </form>
                </div>
                <div class="hero-box-event">
                    <h3>Location</h3>
                    <form action="">
                        <select name="location" id="location">
                            <option value="">Choose Location</option>
                            <option value=""></option>
                        </select>
                    </form>
                </div>
                <div class="hero-box-event">
                    <h3>When</h3>
                    <form action="">
                        <select name="date" id="date">
                            <option value="Choose date and time">Choose date and time</option>
                            <option value=""></option>
                        </select>
                    </form>
                </div>
                <div class="hero-box-search">
                    <img src="./images/heroimgs/—Pngtree—search icon_4490393.png" alt="search">
                </div>
            </div>
        </div>
    </section>
    <!-- hero ends here -->

    <!-- event category starts here  -->

    <div class="event">
        <div class="event-head">
            <h3>
                <font color="black">Upcoming</font>
                <font color="#7848F4">Events</font>
            </h3>
            <div class="event-head-drop">
                    <select name="location" id="event-head">
                        <option value="">Weekdays</option>
                        <option value=""></option>
                    </select>
                        <select name="location" id="event-head">
                        <option value="">Event type</option>
                        <option value=""></option>
                    </select>
                    <select name="location" id="event-head">
                        <option value="">Category</option>
                        <option value=""></option>
                    </select>
            </div>
        </div>
        <div class="event-cat">
            <% for(let e of event){ %>

            <div class="event-cat-box">
                <img src="/images/events/jr-korpa-9XngoIpxcEo-unsplash.jpg" alt="event-img">
                <div class="event-cat-box-in">
                    <div class="event-cat-desc">
                        <h3><%=e.title %></h3>
                        <p><%= e.desc%></p>                       
                    </div>
                    <div class="event-cat-reg">
                        <a href="/event/<%=e.title %>/<%=e.event_id %>">Register</a>
                        <h4><%= e.start_day%></h4>
                    </div>
                </div>
            </div>
            <%} %>
        </div>
        <div class="event-cat-add">
            <h3>Load more..</h3>
        </div>

    </div>

    <!-- event category ends here  -->

    <!-- event create box starts here  -->

    <div class="event-box">
        <div class="event-box-img">
            <img src="./images/createeventimg/image 3.svg" alt="create logo">
        </div>
        <div class="event-box-text">
            <h2>Make your own event</h2>
            <p>Lorem ipsum dolor sit amet, dolorem atque veritatis consectetur ad ducimus vero, dolores unde
                est sint!</p>
            <div class="event-box-btn">
                Create Events
            </div>
        </div>

    </div>

    <!-- event create box ends here  -->


    <!-- footer starts here  -->
    <%- include('includes/footer') %>

    <!-- footer ends here  -->

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


</body>

</html>