<%- include('includes/header') %>
  <link rel="stylesheet" href="/stylesheets/event-details.css" />
  <link rel="stylesheet" href="/stylesheets/navbar.css" />

  </head>


  <body>
    <div id="body">
      <%- include('includes/navbar') %>

        <!-- hero section starts-->
        <div class="herosection  ">
          <div class="herocontent">

            <a style="text-decoration: none;" href="/events">
              <div class="herobtn">
                <p>&lt;&lt; Back</p>
              </div>
            </a>
            <div class="heroright">
              <div class="herotext">
                <h1>
                  <%=selectedEvent.title%>
                </h1>
                <p class="eventplace">
                  <%=selectedEvent.venue%>
                </p>
                <p class="desc">
                  <%=selectedEvent.desc%>
                </p>
                <div class="map">
                  <img src="/images/events/MapPin.svg" alt="map" />
                  <h5><i> View map</i></h5>
                </div>
              </div>

              <div class="herodate">
                <h2>Date & time</h2>
                <p>
                  <%=selectedEvent.start_day%> -- <%=selectedEvent.start_time%>
                </p>
                <h3>Add to calender</h3>
                <div id="registerEvent" class="btn4">
                  <% if(attended){%>
                    Registered
                    <%}else{%>
                      Book now
                      <%}%>
                </div>
                <!-- <dic class="btn5">Program promoter</dic> -->
                <!-- <div class="btn6">No Refunds</div> -->
              </div>
            </div>
          </div>
        </div>
        <!-- hero section ends -->

        <!-- blog section starts -->
        <div class="blogsection">
          <div class="blogright">
            <div class="description">
              <h2>Description</h2>
              <p>
                <%=selectedEvent.desc%>
              </p>
            </div>
            <div class="hours">
              <h2>Hours</h2>
              <p>Date: <span class="hour"><b>
                    <% if (selectedEvent.start_day===selectedEvent.end_day) { %>
                      <%= selectedEvent.start_day %>
                        <% } else { %>
                          <%= selectedEvent.start_day %> : <%= selectedEvent.end_day %>
                              <% } %>
                  </b></span></p>

              <p>Start time: <span class="hour"><b>
                    <%=selectedEvent.start_time%>
                  </b></span></p>
              <p>End time: <span class="hour"><b>
                    <%=selectedEvent.end_time%>
                  </b></span></p>
            </div>
            <div class="orgcont">
              <h2>Organizer Contact</Canvas></h2>
              <p>Please go to <a href="https://www.w3schools.com/">www.abc.com</a>and refer the FAQ section for
                more details.</p>
            </div>
          </div>
          <div class="blogleft">
            <div class="location">
              <h2>Event location</h2>
              <img src="/images/events/map.svg" alt="Event location">
              <h2>
                <%=selectedEvent.title%>
              </h2>
              <!-- <p>small description about event and event location</p> -->
            </div>
            <div class="tags">
              <h2>Tags</h2>
              <div class="ttag">
                <p>tag1</p>
                <p> tag2</p>
                <p>tag3</p>
                <p>tag4</p>

              </div>
            </div>
            <div class="withfriends">
              <div class="withfriendsh2">
                <h2>Share with friends</h2>
              </div>
              <div class="withfriendsimg">
                <img src="./images/logos/InstagramLogo.svg" alt="Through whatsapp" class="imgstyle">
                <img src="./images/logos/InstagramLogo.svg" alt="Through instagram">
                <img src="./images/logos/FacebookLogo.svg" alt="FacebookLogo">
              </div>
            </div>
          </div>
        </div>
        <%- include('includes/footer') %>
    </div>

    <!-- booking confirmation popup  -->
    <div id="popup" class="popup">
      <div class="popup-txt">
        <h4>Event: <%=selectedEvent.title%>
        </h4>
        <h4>Date: <%=selectedEvent.start_day%>
        </h4>
      </div>
      <div class="popup-sub">
        <h3>Are you sure you want to confirm your booking?</h3>
        <div class="popup-btn">
          <button id="cancel-btn">Cancel</button>
          <button id="confirm-btn">
            Confirm
          </button>
        </div>
      </div>
    </div>
    <div id="create_event" class="hy"></div>

    <div id="org_popup" class="org_popup">
      <div class="org_close">
        <img id="org_close" src="./images/heroimgs/cross-svgrepo-com.svg" alt="">
      </div>
      <div id="toOrg">
        <h3>Are you sure you want to continue as Organizer?</h3>
        <button id="toOrg_confirm">Confirm</button>
      </div>
      <div id="orgDetail">
        <div class="pop-sub1">
          <h2>Enter Organization name:</h2>
          <input type="text" name="org_name" id="org_name">
        </div>
        <div class="pop-sub2">
          <h5>Continue as Organizer</h5>
          <a href="/organizer/create-events"><button id="org_confirm">Confirm</button></a>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
      const org1 = document.getElementById("create_event");
      const org2 = document.getElementById('org2_btn')

      org1.addEventListener("click", () => {
        document.getElementById("org_popup").classList.add("showw");
        document.getElementById("body").style.filter = "blur(5px)";
        document.getElementById("body").style.pointerEvents = "none";
      });

      if ('<%=loginStatus%>' == true) {
        org2.addEventListener("click", () => {
          document.getElementById("org_popup").classList.add("showw");
          document.getElementById("body").style.filter = "blur(5px)";
          document.getElementById("body").style.pointerEvents = "none";
        });


        console.log('<%=loginStatus%>');


        document.getElementById('org_close').addEventListener("click", () => {
          document.getElementById("org_popup").classList.remove("showw");
          document.getElementById("body").style.filter = "none";
          document.getElementById("body").style.pointerEvents = "all";
        });

        //once an organizer
        $(document).ready(function () {
          $('#toOrg_confirm').click(function () {
            $.ajax({
              url: '/organizer/check-org',
              method: 'GET',
              success: function (response) {
                console.log(response);
                if (response.login === false) {
                  window.location.href = "/auth/login";
                } else {
                  if (response.success == true && response.is_org == false) {
                    // window.location.href = "/organizer/create-events";
                    document.getElementById("org_popup").classList.add("showw");
                    document.getElementById("toOrg").style.display = "none";
                    document.getElementById("orgDetail").style.display = "flex";
                    document.getElementById("body").style.filter = "blur(5px)";
                    document.getElementById("body").style.pointerEvents = "none";
                  } else {
                    window.location.href = "/organizer/create-events";
                  }
                }
              },
              error: function (xhr, status, error) {
                console.error('Error checking org_id:', error);
              }
            });
          });

          //first time organizer

          $('#org_confirm').click(function () {
            const org_name = $('#org_name').val();

            $.ajax({
              url: 'organizer/check-org',
              method: 'POST',
              contentType: 'application/json',
              data: JSON.stringify({ value: org_name }),
              success: function (response) {
                // document.getElementById("org_popup").classList.remove ("showw");
                // document.getElementById("body").style.filter = "none";
                // document.getElementById("body").style.pointerEvents = "all";
                console.log(response);
                window.location.href = '/organizer/create-events';
              },
              error: function (xhr, status, error) {
                console.error(error);
              }
            });
          });
        });
      }

    </script>

    <script>
        $(document).ready(function () {

          const register = document.getElementById('registerEvent');
          var attended = '<%=attended%>';
          console.log(attended);


          register.addEventListener("click", () => {
            if (attended == "false") {
              document.getElementById("popup").classList.add("show");
              document.getElementById("body").style.filter = "blur(5px)";
              document.getElementById("body").style.pointerEvents = "none";
            }
          });

          document.getElementById('cancel-btn').addEventListener("click", () => {
            document.getElementById("popup").classList.remove("show");
            document.getElementById("body").style.filter = "none";
            document.getElementById("body").style.pointerEvents = "all";
          });

          $('#confirm-btn').click(function () {
            var eventId = '<%=selectedEvent.event_id%>';
            attended = true;

            $.ajax({
              url: '/event/<%=selectedEvent.title %>/<%=selectedEvent.event_id %>',
              type: 'POST',
              contentType: 'application/json',
              data: JSON.stringify({ eventId }),
              success: function (response) {
                if (response.success) {
                  register.textContent = 'Registered'
                  document.getElementById("popup").style.display = "none";
                  document.getElementById("body").style.filter = "none";
                  document.getElementById("body").style.pointerEvents = "all";
                } else {
                  console.error('Booking confirmation failed:', response.error); // Handle errors from the backend
                }
              },
              error: function (jqXHR, textStatus, errorThrown) {
                console.error('AJAX error:', textStatus, errorThrown);
                // Handle general AJAX errors
              }
            });
          });
        });



    </script>

  </body>

  </html>